@font-face {
  font-family: 'arvoregular';
  src: url('../fonts/arvo-regular-webfont.woff2') format('woff2'), url('../fonts/arvo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 480px) {
  .first-line {
    font-size: 3.65em !important;
  }
  .second-line {
    font-size: 1.95em !important;
  }
  .project-btn {
    display: none !important;
  }
}

@media screen and (max-width: 361px) {
  .first-line {
    font-size: 3em !important;
  }
  .second-line {
    font-size: 1.75em !important;
  }
}

@media screen and (max-width: 321px) {
  .first-line {
    font-size: 2.5em !important;
  }
  .second-line {
    font-size: 1.5em !important;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #000;
}

html {
  background-color: #111 !important;
}

html,
body {
  background: transparent;
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden;
  /*  Disable scrollbars */
  display: block;
  /* No floating content on sides */
}

.squawkbox,
.defuser {
  display: none;
}

.main-content {
  height: 100% !important;
  margin-top: -75px !important;
  display: none;
}

.ui.fixed.menu+.ui.grid {
  padding-top: 0rem;
}

a.item {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.first-line {
  font-family: "arvoregular", serif !important;
  color: #FFF !important;
  font-size: 4em;
  font-weight: 500 !important;
}

.projects-column .project-btn {
  margin-top: 15px;
  display: none;
  position: absolute;
}

.projects-column .project-btn span {
  margin-top: 10px;
  padding: 18px;
  position: relative;
  font-size: 30px !important;
  height: 30px;
  width: 30px;
  text-align: left;
}

.second-line {
  color: #FFF;
  font-size: 2.2em;
  display: inline;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  text-shadow: 1px 1px 2px black, 0 0 25px #666666, 0 0 5px #333333;
  z-index: 30;
  position: relative;
}

.second-line span {
  font-weight: 800 !important;
}

.second-line a {
  color: hotpink;
  text-decoration: underline;
  overflow-wrap: break-word;
}

.typed-message {
  display: inline;
}

#menu {
  background: transparent;
  position: relative;
  z-index: 35;
}

#menu .item {
  font-size: 1.2em;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  margin: 25px 25px 0px 0px;
  padding: 5px 5px 10px;
}

#menu .item span {
  color: lightgreen;
}

#menu .item:hover {
  background-color: transparent;
  color: white !important;
  padding-left: 10px !important;
}

#menu .item.active {
  background-color: transparent;
  margin-left: -25px;
  color: white !important;
}

#menu .item {
  /*font-size: 1.2em;*/
  font-size: 1.9em !important;
  /*font-family: 'IBM Plex Mono', monospace;*/
  font-family: "arvoregular", serif !important;
  font-weight: 600 !important;
  /*font-weight: 500;*/
  margin: 25px 25px 0px 0px;
  padding: 5px 5px 20px;
  color: #dddddd;
}

.mobile-menu .container {
  margin-top: 45px;
}

.mobile-menu .item {
  font-size: 2em !important;
  font-family: "arvoregular", serif !important;
  font-weight: 600 !important;
  margin: 25px 25px 0px 0px;
  padding: 5px 5px 10px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 20px;
  display: none;
}

.btn-group {
  margin-top: 20px;
}

.button-main {
  margin: 10px 20px 0px 0px;
  height: 60px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 2.1em;
  text-transform: uppercase;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  width: 195px;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  font-weight: 300;
  z-index: 100;
}

.button-main:hover {
  background-color: #666;
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.1);
  color: #f4f4f4;
  transform: translateY(-7px);
}

.circle-icon {
  background: #333;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 15px;
  color: #fff;
  margin: 0px 10px 0px 0px;
  font-size: 30px !important;
  box-shadow: 0px 7px 23px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.circle-icon:hover {
  background-color: #666;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  color: #f4f4f4;
  transform: translateY(-7px);
}

.pixelized {
  border: 0;
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  pointer-events: none
}

.pixelized::after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABxJREFUeNpi+P//PwMIA8FNJgYkwAgSgXEAAgwA8BoHsEna1aoAAAAASUVORK5CYII=);
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0 0;
  background-color: rgba(0, 0, 0, 0);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 75;
  opacity: 0.35;
}

.pixelized-heavy {
  border: 0;
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  pointer-events: none
}

.pixelized-heavy::after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABxJREFUeNpi+P//PwMIA8FNJgYkwAgSgXEAAgwA8BoHsEna1aoAAAAASUVORK5CYII=);
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0 0;
  background-color: rgba(0, 0, 0, 0);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 50;
  opacity: 0.5;
}

.pixelized-heaviest {
  border: 0;
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  pointer-events: none
}

.pixelized-heaviest::after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABxJREFUeNpi+P//PwMIA8FNJgYkwAgSgXEAAgwA8BoHsEna1aoAAAAASUVORK5CYII=);
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0 0;
  background-color: rgba(0, 0, 0, 0);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 25;
  opacity: 1;
}

#bg {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.hamburger button {
  position: relative;
  left: -25px;
  top: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.mobile-menu {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 50px;
  left: -15px;
  display: none;
}

.swiper-container {
  width: 100%;
  z-index: 30 !important;
}

.swiper-slide {
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

.gutter-fix {
  margin-left: 1.5em !important;
  margin-right: 1.5em !important;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 30;
  bottom: 75px !important;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #fff !important;
  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff !important;
}